node-red/flows.json
[{"id":"af92df58.18c99","type":"tab","label":"Tracker Update","disabled":true,"info":"This flow listens for changes to each household-members trackers, and merges and updates the bayesian-tracker\n\nThe subflow takes 2 inputs:\n- The binary\\_sensor._person_\\_presence\n- The device\\_tracker._person_\\_gps\n\nThe subflow updates\n- device\\_tracker._person_\\_bayesan"},{"id":"83679212.03754","type":"tab","label":"Person Device Trackers","disabled":false,"info":""},{"id":"d8584667.838bf8","type":"tab","label":"Archive","disabled":true,"info":""},{"id":"c2f3802b.1d6d4","type":"tab","label":"Notify","disabled":false,"info":"This subflow sends a message to be read aloud on the living-room speaker"},{"id":"ba9e3430.cde158","type":"subflow","name":"GPS Updater","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"337ea770.ea3298"}]}],"out":[{"x":2040,"y":120,"wires":[{"id":"79164f53.cc6a3","port":0},{"id":"28d52b61.72d8f4","port":0}]},{"x":2040,"y":20,"wires":[{"id":"14651a99.fa3ee5","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f38d805.6aaa08","type":"subflow","name":"Speak message","info":"","category":"home_assistant","in":[{"x":80,"y":200,"wires":[{"id":"7952773a.2b6428"}]}],"out":[],"env":[],"color":"#C0DEED","icon":"node-red/comment.svg"},{"id":"1d372449.c13a3c","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"763070f9.0c571","type":"switch","z":"83679212.03754","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":240,"wires":[["57b903a4.bd2f6c"],["a080246.03d5ed8"]]},{"id":"57b903a4.bd2f6c","type":"api-call-service","z":"83679212.03754","name":"Set Presence Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"trym_bayesian\",\"location_name\":\"home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":200,"wires":[[]]},{"id":"a080246.03d5ed8","type":"api-call-service","z":"83679212.03754","name":"Set Presence Not Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"trym_bayesian\",\"location_name\":\"not_home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":280,"wires":[[]]},{"id":"afb02bc5.351e68","type":"comment","z":"83679212.03754","name":"Convert Bayesian Sensor into Device Tracker","info":"","x":190,"y":180,"wires":[]},{"id":"a86ac3f0.00c67","type":"inject","z":"83679212.03754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["d43007ca.720b78","4f161b3a.e51b14","27f55bc9.af4ca4","2e574f78.6f578","5aeb8616.5b3d98"]]},{"id":"d43007ca.720b78","type":"api-current-state","z":"83679212.03754","name":"Bayesian Presence Trym","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.trym_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":240,"wires":[["763070f9.0c571"]]},{"id":"e2d59241.0e6c7","type":"switch","z":"83679212.03754","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":420,"wires":[["f95476c8.48ba18"],["2b581c62.889204"]]},{"id":"f95476c8.48ba18","type":"api-call-service","z":"83679212.03754","name":"Set Presence Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"tuva_bayesian\",\"location_name\":\"home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":380,"wires":[[]]},{"id":"2b581c62.889204","type":"api-call-service","z":"83679212.03754","name":"Set Presence Not Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"tuva_bayesian\",\"location_name\":\"not_home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":460,"wires":[[]]},{"id":"4f161b3a.e51b14","type":"api-current-state","z":"83679212.03754","name":"Bayesian Presence Tuva","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tuva_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":420,"wires":[["e2d59241.0e6c7"]]},{"id":"c14ec0fe.c8a99","type":"comment","z":"d8584667.838bf8","name":"Testing","info":"Just playing around","x":140,"y":120,"wires":[]},{"id":"95b989c1.d9a338","type":"inject","z":"d8584667.838bf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World!","payloadType":"str","x":180,"y":200,"wires":[["dd90fd10.be56b"]]},{"id":"dd90fd10.be56b","type":"debug","z":"d8584667.838bf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"27f55bc9.af4ca4","type":"api-current-state","z":"83679212.03754","name":"Bayesian Presence Tiril","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tiril_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":600,"wires":[["e7eb57de.b39c58"]]},{"id":"e7eb57de.b39c58","type":"switch","z":"83679212.03754","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":600,"wires":[["d33bac26.78445"],["46a27ee5.9e9c"]]},{"id":"d33bac26.78445","type":"api-call-service","z":"83679212.03754","name":"Set Presence Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"tiril_bayesian\",\"location_name\":\"home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":560,"wires":[[]]},{"id":"46a27ee5.9e9c","type":"api-call-service","z":"83679212.03754","name":"Set Presence Not Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"tiril_bayesian\",\"location_name\":\"not_home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":640,"wires":[[]]},{"id":"2e574f78.6f578","type":"api-current-state","z":"83679212.03754","name":"Bayesian Presence Jeanette","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.jeanette_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":760,"wires":[["37231cc0.750f94"]]},{"id":"37231cc0.750f94","type":"switch","z":"83679212.03754","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":760,"wires":[["8d736d28.80f13"],["3eb14d0a.8411d2"]]},{"id":"8d736d28.80f13","type":"api-call-service","z":"83679212.03754","name":"Set Presence Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"jeanette_bayesian\",\"location_name\":\"home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":720,"wires":[[]]},{"id":"3eb14d0a.8411d2","type":"api-call-service","z":"83679212.03754","name":"Set Presence Not Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"jeanette_bayesian\",\"location_name\":\"not_home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":800,"wires":[[]]},{"id":"5aeb8616.5b3d98","type":"api-current-state","z":"83679212.03754","name":"Bayesian Presence Tarald","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tarald_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":920,"wires":[["ca7ecfbb.63ba1"]]},{"id":"ca7ecfbb.63ba1","type":"switch","z":"83679212.03754","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":920,"wires":[["20e0a561.ca68ba"],["8f0514cb.a71188"]]},{"id":"20e0a561.ca68ba","type":"api-call-service","z":"83679212.03754","name":"Set Presence Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"tarald_bayesian\",\"location_name\":\"home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":800,"y":880,"wires":[[]]},{"id":"8f0514cb.a71188","type":"api-call-service","z":"83679212.03754","name":"Set Presence Not Home","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"tarald_bayesian\",\"location_name\":\"not_home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":960,"wires":[[]]},{"id":"21d19bdf.7759d4","type":"server-state-changed","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.hall_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":260,"y":360,"wires":[["13c89d46.04c3c3"]]},{"id":"10a7d60f.66273a","type":"api-call-service","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.livingroom_hub","data":"{\"message\": \"Lumos\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":320,"wires":[[]]},{"id":"fea1d44.b61bc28","type":"api-call-service","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.livingroom_hub","data":"{\"message\": \"Darkness covers the land\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":400,"wires":[[]]},{"id":"13c89d46.04c3c3","type":"switch","z":"d8584667.838bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":360,"wires":[["10a7d60f.66273a","d3fb705.f6c1d9"],["fea1d44.b61bc28","6d24ab37.67be84"]]},{"id":"d3fb705.f6c1d9","type":"debug","z":"d8584667.838bf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":220,"wires":[]},{"id":"6d24ab37.67be84","type":"debug","z":"d8584667.838bf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":480,"wires":[]},{"id":"2436f695.a2901a","type":"inject","z":"d8584667.838bf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"current","payload":"","payloadType":"date","x":230,"y":620,"wires":[["cde37530.1fedb8"]]},{"id":"cde37530.1fedb8","type":"join","z":"d8584667.838bf8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":500,"y":640,"wires":[["82d73490.519b88"]]},{"id":"d7a80a7d.245228","type":"inject","z":"d8584667.838bf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"target","payload":"123","payloadType":"num","x":220,"y":680,"wires":[["cde37530.1fedb8"]]},{"id":"1f25dbb9.d46164","type":"debug","z":"d8584667.838bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":640,"wires":[]},{"id":"82d73490.519b88","type":"change","z":"d8584667.838bf8","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"payload.current","tot":"msg"},{"t":"set","p":"threshold","pt":"msg","to":"payload.target","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":640,"wires":[["1f25dbb9.d46164"]]},{"id":"5ef2299a.92e528","type":"server-state-changed","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tarald_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":220,"wires":[["ee2ce8e.d620218"]]},{"id":"5e70747a.d5ffdc","type":"server-state-changed","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.tarald_gps","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":280,"wires":[["ee2ce8e.d620218"]]},{"id":"f1c66de2.969a3","type":"comment","z":"af92df58.18c99","name":"Update trackers on state change","info":"","x":170,"y":140,"wires":[]},{"id":"8e035443.dc3118","type":"comment","z":"af92df58.18c99","name":"Tarald","info":"","x":110,"y":180,"wires":[]},{"id":"d928b0ea.692f8","type":"server-state-changed","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.jeanette_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":380,"wires":[["a5ffec7c.87f37"]]},{"id":"bbcc4c82.20729","type":"server-state-changed","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.jeanette_gps","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":440,"wires":[["a5ffec7c.87f37"]]},{"id":"64cdba0c.ee20b4","type":"comment","z":"af92df58.18c99","name":"Jeanette","info":"","x":120,"y":340,"wires":[]},{"id":"2a660627.af616a","type":"server-state-changed","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tiril_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":540,"wires":[["17aaf04f.a57af"]]},{"id":"9158f9ce.61b568","type":"server-state-changed","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.tiril_gps","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":600,"wires":[["17aaf04f.a57af"]]},{"id":"4e8e8dec.11d0e4","type":"comment","z":"af92df58.18c99","name":"Tiril","info":"","x":110,"y":500,"wires":[]},{"id":"af39791f.6aaa28","type":"server-state-changed","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tuva_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":700,"wires":[["23a13724.c54338"]]},{"id":"4f08291c.c54368","type":"server-state-changed","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.tuva_gps","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":760,"wires":[["23a13724.c54338"]]},{"id":"70503321.51d61c","type":"comment","z":"af92df58.18c99","name":"Tuva","info":"","x":110,"y":660,"wires":[]},{"id":"261a3ce9.314784","type":"server-state-changed","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.trym_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":860,"wires":[["98c00359.fefc7"]]},{"id":"dd1735b2.fc2368","type":"server-state-changed","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.trym_gps","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":510,"y":920,"wires":[["98c00359.fefc7"]]},{"id":"60af8537.e5342c","type":"comment","z":"af92df58.18c99","name":"Trym","info":"","x":110,"y":820,"wires":[]},{"id":"b2626220.02b65","type":"debug","z":"af92df58.18c99","name":"Tarald","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":220,"wires":[]},{"id":"56aba709.75a728","type":"debug","z":"af92df58.18c99","name":"Jeanette","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":380,"wires":[]},{"id":"7c487f31.87482","type":"debug","z":"af92df58.18c99","name":"Tiril","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":540,"wires":[]},{"id":"bb4f643.a2c1298","type":"debug","z":"af92df58.18c99","name":"Tuva","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":700,"wires":[]},{"id":"16267cc4.9f7613","type":"debug","z":"af92df58.18c99","name":"Trym","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":860,"wires":[]},{"id":"ee2ce8e.d620218","type":"subflow:ba9e3430.cde158","z":"af92df58.18c99","name":"","env":[],"x":750,"y":240,"wires":[["b2626220.02b65"],["5bd4da42.9d6164"]]},{"id":"a5ffec7c.87f37","type":"subflow:ba9e3430.cde158","z":"af92df58.18c99","name":"","x":750,"y":400,"wires":[["56aba709.75a728"],["6c682b7.22b7bd4"]]},{"id":"17aaf04f.a57af","type":"subflow:ba9e3430.cde158","z":"af92df58.18c99","name":"","x":750,"y":560,"wires":[["7c487f31.87482"],["fefd5db0.612e3"]]},{"id":"23a13724.c54338","type":"subflow:ba9e3430.cde158","z":"af92df58.18c99","name":"","x":750,"y":720,"wires":[["bb4f643.a2c1298"],["a69497cb.5e9308"]]},{"id":"98c00359.fefc7","type":"subflow:ba9e3430.cde158","z":"af92df58.18c99","name":"","x":750,"y":880,"wires":[["16267cc4.9f7613"],["ddbceb0b.cc5de8"]]},{"id":"93269ad6.c8b3b8","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["5e0781de.12567"]]},{"id":"23996da6.5ab552","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["e0bac33a.67687"]]},{"id":"5e0781de.12567","type":"api-current-state","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tarald_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":220,"wires":[["ee2ce8e.d620218"]]},{"id":"e0bac33a.67687","type":"api-current-state","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.tarald_gps","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":280,"wires":[["ee2ce8e.d620218"]]},{"id":"17bdf5cb.c0eb9a","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["b666e9a4.f75ef8"]]},{"id":"738dcc9c.3ca7c4","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":440,"wires":[["57551b26.256464"]]},{"id":"b666e9a4.f75ef8","type":"api-current-state","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.jeanette_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":380,"wires":[["a5ffec7c.87f37"]]},{"id":"57551b26.256464","type":"api-current-state","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.jeanette_gps","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":440,"wires":[["a5ffec7c.87f37"]]},{"id":"9d3fc27e.51e99","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":540,"wires":[["f1f1ec4b.a9f7"]]},{"id":"4903b041.f9b21","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["e26140b5.4420b"]]},{"id":"f1f1ec4b.a9f7","type":"api-current-state","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tiril_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":540,"wires":[["17aaf04f.a57af"]]},{"id":"e26140b5.4420b","type":"api-current-state","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.tiril_gps","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":600,"wires":[["17aaf04f.a57af"]]},{"id":"11f27a05.b3cb96","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":700,"wires":[["67ff43c8.c4ea6c"]]},{"id":"921b0cc3.7e846","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":760,"wires":[["92459ecf.b110b"]]},{"id":"67ff43c8.c4ea6c","type":"api-current-state","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tuva_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":700,"wires":[["23a13724.c54338"]]},{"id":"92459ecf.b110b","type":"api-current-state","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.tuva_gps","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":760,"wires":[["23a13724.c54338"]]},{"id":"239f50f5.8f0dd","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":860,"wires":[["1da81bb4.b9c264"]]},{"id":"e7dc9c1f.983c8","type":"inject","z":"af92df58.18c99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":920,"wires":[["c97b6466.55c278"]]},{"id":"1da81bb4.b9c264","type":"api-current-state","z":"af92df58.18c99","name":"Binary","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.trym_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":860,"wires":[["98c00359.fefc7"]]},{"id":"c97b6466.55c278","type":"api-current-state","z":"af92df58.18c99","name":"GPS","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.trym_gps","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":920,"wires":[["98c00359.fefc7"]]},{"id":"c9e3f02a.4440e","type":"server-events","z":"af92df58.18c99","name":"OP Status","server":"1d372449.c13a3c","event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":80,"y":80,"wires":[["246be388.95e1ec"]]},{"id":"246be388.95e1ec","type":"switch","z":"af92df58.18c99","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":80,"wires":[["5e0781de.12567","b666e9a4.f75ef8","f1f1ec4b.a9f7","67ff43c8.c4ea6c","1da81bb4.b9c264","d7d81921.b36168"]]},{"id":"12f2d002.d62ba","type":"comment","z":"af92df58.18c99","name":"Update trackers on HA Restart","info":"","x":170,"y":40,"wires":[]},{"id":"d7d81921.b36168","type":"debug","z":"af92df58.18c99","name":"Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":80,"wires":[]},{"id":"b7b05c3c.409ca","type":"debug","z":"ba9e3430.cde158","name":"Report","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1970,"y":420,"wires":[]},{"id":"fb4b9c37.7fb6e","type":"template","z":"ba9e3430.cde158","name":"Report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Performed {{topic}} ({{update.set_state}}) for {{update.person}}","output":"str","x":1770,"y":460,"wires":[["b7b05c3c.409ca"]]},{"id":"be6a61e5.64a4f","type":"api-call-service","z":"ba9e3430.cde158","name":"Update state-only","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"{{update.tracker}}\",\"location_name\":\"{{update.set_state}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1590,"y":420,"wires":[["fb4b9c37.7fb6e","8eacbbe5.04b268"]]},{"id":"3ea0cef7.c38262","type":"change","z":"ba9e3430.cde158","name":"GPS missing","rules":[{"t":"set","p":"topic","pt":"msg","to":"no action","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":460,"wires":[["fb4b9c37.7fb6e"]]},{"id":"d446bea9.445ce","type":"api-call-service","z":"ba9e3430.cde158","name":"Update with GPS","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"{{update.tracker}}\",\"location_name\":\"{{update.existing_state}}\",\"gps\":[{{update.gps.latitude}},{{update.gps.longitude}}]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1590,"y":500,"wires":[["fb4b9c37.7fb6e","b8246620.145fe8"]]},{"id":"a8a39484.e27f98","type":"change","z":"ba9e3430.cde158","name":"Set Payload to Homestate","rules":[{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"not_home","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"home","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":420,"wires":[["be6a61e5.64a4f","8f1ae110.5ff23"]]},{"id":"8eacbbe5.04b268","type":"debug","z":"ba9e3430.cde158","name":"Exit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":420,"wires":[]},{"id":"396ec43f.8a822c","type":"switch","z":"ba9e3430.cde158","name":"GPS data?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unknown","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":500,"wires":[["3ea0cef7.c38262","9a12bf9d.8a406"],["751660c0.c7538","9a12bf9d.8a406"]]},{"id":"b8246620.145fe8","type":"debug","z":"ba9e3430.cde158","name":"Exit","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":500,"wires":[]},{"id":"d3773ea4.a840d","type":"change","z":"ba9e3430.cde158","name":"Set state","rules":[{"t":"set","p":"update.existing_state","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"update.existing_state","pt":"msg","from":"on","fromt":"str","to":"home","tot":"str"},{"t":"change","p":"update.existing_state","pt":"msg","from":"off","fromt":"str","to":"not_home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":540,"wires":[["881b6167.be12b","d446bea9.445ce"]]},{"id":"db9a5d61.b6c62","type":"change","z":"ba9e3430.cde158","name":"Topic = Presence","rules":[{"t":"set","p":"topic","pt":"msg","to":"presence update","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["a8a39484.e27f98"]]},{"id":"8f1ae110.5ff23","type":"debug","z":"ba9e3430.cde158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":380,"wires":[]},{"id":"9a12bf9d.8a406","type":"debug","z":"ba9e3430.cde158","name":"Input msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":500,"wires":[]},{"id":"751660c0.c7538","type":"change","z":"ba9e3430.cde158","name":"GPS Update","rules":[{"t":"set","p":"topic","pt":"msg","to":"gps update","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":540,"wires":[["981e72b9.8dfab"]]},{"id":"48c5229e.134b6c","type":"api-current-state","z":"ba9e3430.cde158","name":"Current","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{update.presence}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":540,"wires":[["d3773ea4.a840d"]],"info":"Fetch existing state of the Binary-sensor"},{"id":"881b6167.be12b","type":"debug","z":"ba9e3430.cde158","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":560,"wires":[]},{"id":"4c967d19.4426d4","type":"change","z":"ba9e3430.cde158","name":"Identify person","rules":[{"t":"set","p":"update.tracker","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.tracker","pt":"msg","from":"binary_sensor.","fromt":"re","to":"","tot":"str"},{"t":"change","p":"update.tracker","pt":"msg","from":"_presence","fromt":"str","to":"_bayesian","tot":"str"},{"t":"set","p":"update.person","pt":"msg","to":"update.tracker","tot":"msg"},{"t":"change","p":"update.person","pt":"msg","from":"_bayesian","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":420,"wires":[["db9a5d61.b6c62"]]},{"id":"981e72b9.8dfab","type":"switch","z":"ba9e3430.cde158","name":"Change or Inspect?","property":"data","propertyType":"msg","rules":[{"t":"hask","v":"new_state","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":540,"wires":[["51c8ad72.c97d44"],["7c0386ba.a460a8"]]},{"id":"70db0949.35fe08","type":"switch","z":"ba9e3430.cde158","name":"","property":"data.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"binary_sensor.","vt":"str"},{"t":"cont","v":"device_tracker.","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":460,"wires":[["4c967d19.4426d4"],["f2f8a8c0.8991d8"]]},{"id":"51c8ad72.c97d44","type":"change","z":"ba9e3430.cde158","name":"Store GPS (Chg)","rules":[{"t":"move","p":"data.new_state.attributes.latitude","pt":"msg","to":"update.gps.latitude","tot":"msg"},{"t":"move","p":"data.new_state.attributes.longitude","pt":"msg","to":"update.gps.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":500,"wires":[["48c5229e.134b6c"]]},{"id":"7c0386ba.a460a8","type":"change","z":"ba9e3430.cde158","name":"Store GPS (Insp)","rules":[{"t":"move","p":"data.attributes.latitude","pt":"msg","to":"update.gps.latitude","tot":"msg"},{"t":"move","p":"data.attributes.longitude","pt":"msg","to":"update.gps.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":580,"wires":[["48c5229e.134b6c"]]},{"id":"7ef9af27.0376","type":"comment","z":"ba9e3430.cde158","name":"Previous flow","info":"","x":170,"y":320,"wires":[]},{"id":"1750d3c8.40029c","type":"api-call-service","z":"f38d805.6aaa08","name":"Speak","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.livingroom_hub","data":"{\"message\": \"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":200,"wires":[[]]},{"id":"adf018bc.952688","type":"server-state-changed","z":"f38d805.6aaa08","name":"Report status","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.welcome_greetings","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":100,"wires":[["48704602.ba1758"]]},{"id":"48704602.ba1758","type":"change","z":"f38d805.6aaa08","name":"Update Context","rules":[{"t":"set","p":"voice_greetings","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[[]]},{"id":"7952773a.2b6428","type":"switch","z":"f38d805.6aaa08","name":"","property":"voice_greetings","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":200,"wires":[["1750d3c8.40029c"]]},{"id":"74b0d4e8.f6f9cc","type":"comment","z":"f38d805.6aaa08","name":"Check if \"Welcome Greetings\" is turned on","info":"","x":300,"y":60,"wires":[]},{"id":"794b9804.2acf48","type":"comment","z":"f38d805.6aaa08","name":"Recieve message payload, and speak it","info":"","x":290,"y":160,"wires":[]},{"id":"4e6030ba.84fb4","type":"template","z":"af92df58.18c99","name":"Welcome message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome home, My Master. I live to serve you!","output":"str","x":1090,"y":260,"wires":[["6e6171f7.6330a"]]},{"id":"6e6171f7.6330a","type":"subflow:f38d805.6aaa08","z":"af92df58.18c99","name":"","env":[],"x":1280,"y":260,"wires":[]},{"id":"79164f53.cc6a3","type":"template","z":"ba9e3430.cde158","name":"Report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Performed {{topic}} ({{update.set_state}}) for {{update.person}}","output":"str","x":1790,"y":120,"wires":[[]]},{"id":"1802b931.7b6597","type":"api-call-service","z":"ba9e3430.cde158","name":"Update presence state","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"{{update.tracker}}\",\"location_name\":\"{{update.set_state}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1620,"y":80,"wires":[["79164f53.cc6a3"]]},{"id":"7db87c65.3af294","type":"change","z":"ba9e3430.cde158","name":"GPS missing","rules":[{"t":"set","p":"topic","pt":"msg","to":"no action","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"update.notify","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":120,"wires":[["79164f53.cc6a3"]]},{"id":"7ed23c37.52c504","type":"api-call-service","z":"ba9e3430.cde158","name":"Update GPS loaction","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"{{update.tracker}}\",\"location_name\":\"{{update.existing_state}}\",\"gps\":[{{update.gps.latitude}},{{update.gps.longitude}}]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1620,"y":160,"wires":[["28d52b61.72d8f4"]]},{"id":"3562266c.db6cfa","type":"change","z":"ba9e3430.cde158","name":"No Change","rules":[{"t":"set","p":"topic","pt":"msg","to":"no action","tot":"str"},{"t":"set","p":"update.existing_state","pt":"msg","to":"payload","tot":"str"},{"t":"set","p":"update.notify","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":100,"wires":[["1802b931.7b6597"]]},{"id":"8d803387.e2cda","type":"change","z":"ba9e3430.cde158","name":"Update state","rules":[{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"update.existing_state","pt":"msg","to":"data.old_state.state","tot":"msg"},{"t":"set","p":"update.notify","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":20,"wires":[["1802b931.7b6597","14651a99.fa3ee5"]]},{"id":"5bc95730.a5bda8","type":"switch","z":"ba9e3430.cde158","name":"GPS data?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unknown","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":160,"wires":[["7db87c65.3af294"],["814c1f8b.4bcf3"]]},{"id":"56f5a0fb.f110c","type":"change","z":"ba9e3430.cde158","name":"Set state","rules":[{"t":"set","p":"update.existing_state","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"update.existing_state","pt":"msg","from":"on","fromt":"str","to":"home","tot":"str"},{"t":"change","p":"update.existing_state","pt":"msg","from":"off","fromt":"str","to":"not_home","tot":"str"},{"t":"set","p":"update.notify","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":200,"wires":[["7ed23c37.52c504"]]},{"id":"21842e10.b17502","type":"switch","z":"ba9e3430.cde158","name":"Changed state?","property":"data","propertyType":"msg","rules":[{"t":"hask","v":"old_state","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":80,"wires":[["edfc0109.c022d"],["3562266c.db6cfa"]]},{"id":"814c1f8b.4bcf3","type":"change","z":"ba9e3430.cde158","name":"GPS Update","rules":[{"t":"set","p":"topic","pt":"msg","to":"gps update","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":200,"wires":[["b90d1002.69e8e"]]},{"id":"4eda6955.225ae8","type":"change","z":"ba9e3430.cde158","name":"Identify person","rules":[{"t":"set","p":"update.tracker","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.tracker","pt":"msg","from":"device_tracker.","fromt":"re","to":"","tot":"str"},{"t":"change","p":"update.tracker","pt":"msg","from":"_gps","fromt":"str","to":"_bayesian","tot":"str"},{"t":"set","p":"update.person","pt":"msg","to":"update.tracker","tot":"msg"},{"t":"change","p":"update.person","pt":"msg","from":"_bayesian","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["5bc95730.a5bda8"]]},{"id":"327d2a46.8beb16","type":"change","z":"ba9e3430.cde158","name":"Set Payload to Homestate","rules":[{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"not_home","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"home","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":80,"wires":[["21842e10.b17502"]]},{"id":"b90d1002.69e8e","type":"switch","z":"ba9e3430.cde158","name":"Change or Inspect?","property":"data","propertyType":"msg","rules":[{"t":"hask","v":"new_state","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":200,"wires":[["11da9538.40f44b"],["34940a2d.2bbe66"]]},{"id":"337ea770.ea3298","type":"switch","z":"ba9e3430.cde158","name":"","property":"data.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"binary_sensor.","vt":"str"},{"t":"cont","v":"device_tracker.","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":120,"wires":[["e6d214a7.d42538"],["4eda6955.225ae8"]]},{"id":"11da9538.40f44b","type":"change","z":"ba9e3430.cde158","name":"Store GPS (Chg)","rules":[{"t":"move","p":"data.new_state.attributes.latitude","pt":"msg","to":"update.gps.latitude","tot":"msg"},{"t":"move","p":"data.new_state.attributes.longitude","pt":"msg","to":"update.gps.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":160,"wires":[["c99829e5.b82018"]]},{"id":"34940a2d.2bbe66","type":"change","z":"ba9e3430.cde158","name":"Store GPS (Insp)","rules":[{"t":"move","p":"data.attributes.latitude","pt":"msg","to":"update.gps.latitude","tot":"msg"},{"t":"move","p":"data.attributes.longitude","pt":"msg","to":"update.gps.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":240,"wires":[["c99829e5.b82018"]]},{"id":"53896eee.3c3d4","type":"change","z":"ba9e3430.cde158","name":"Topic = Presence","rules":[{"t":"set","p":"topic","pt":"msg","to":"presence update","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["327d2a46.8beb16"]]},{"id":"e6d214a7.d42538","type":"change","z":"ba9e3430.cde158","name":"Identify person","rules":[{"t":"set","p":"update.tracker","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.tracker","pt":"msg","from":"binary_sensor.","fromt":"re","to":"","tot":"str"},{"t":"change","p":"update.tracker","pt":"msg","from":"_presence","fromt":"str","to":"_bayesian","tot":"str"},{"t":"set","p":"update.person","pt":"msg","to":"update.tracker","tot":"msg"},{"t":"change","p":"update.person","pt":"msg","from":"_bayesian","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["53896eee.3c3d4"]]},{"id":"14651a99.fa3ee5","type":"switch","z":"ba9e3430.cde158","name":"Notify?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1580,"y":20,"wires":[[]]},{"id":"edfc0109.c022d","type":"switch","z":"ba9e3430.cde158","name":"","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"neq","v":"data.new_state.state","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":60,"wires":[["8d803387.e2cda"],["3562266c.db6cfa"]]},{"id":"ce3896ae.43a118","type":"template","z":"af92df58.18c99","name":"Welcome message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome home, {{update.person}}. You are the best wife in the galaxy!","output":"str","x":1090,"y":420,"wires":[["b4c4909b.51bd2"]]},{"id":"b4c4909b.51bd2","type":"subflow:f38d805.6aaa08","z":"af92df58.18c99","name":"","x":1280,"y":420,"wires":[]},{"id":"7ea1cfb.246513","type":"template","z":"af92df58.18c99","name":"Welcome message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome home, {{update.person}}. You bring light and warmth to this bleak place, and brighten my dark days!","output":"str","x":1090,"y":580,"wires":[["d2c4ccc4.016d9"]]},{"id":"d2c4ccc4.016d9","type":"subflow:f38d805.6aaa08","z":"af92df58.18c99","name":"","x":1280,"y":580,"wires":[]},{"id":"12cff306.49c99d","type":"template","z":"af92df58.18c99","name":"Welcome message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome home, Bad-ass Bobby. I really love how your big brain makes your eyes sparkle with wit and intelligence.","output":"str","x":1090,"y":740,"wires":[["a28355e6.30e898"]]},{"id":"a28355e6.30e898","type":"subflow:f38d805.6aaa08","z":"af92df58.18c99","name":"","x":1280,"y":740,"wires":[]},{"id":"c8ead6f1.836558","type":"template","z":"af92df58.18c99","name":"Welcome message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome home, Princess Trym. You're a very handsome young man","output":"str","x":1090,"y":900,"wires":[["b33175b2.fe55c8"]]},{"id":"b33175b2.fe55c8","type":"subflow:f38d805.6aaa08","z":"af92df58.18c99","name":"","x":1280,"y":900,"wires":[]},{"id":"24a99505.a47cfa","type":"comment","z":"c2f3802b.1d6d4","name":"Presence Switches","info":"binary_sensor.jeanette_presence\nbinary_sensor.tarald_presence\nbinary_sensor.tiril_presence\nbinary_sensor.tuva_presence\nbinary_sensor.trym_presence\n","x":130,"y":280,"wires":[]},{"id":"322da472.d43b2c","type":"server-state-changed","z":"c2f3802b.1d6d4","name":"Presence change","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor\\.\\S*_presence","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":320,"wires":[["be97325c.474ca"]]},{"id":"135af262.fc064e","type":"server-state-changed","z":"c2f3802b.1d6d4","name":"GPS Change","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker\\.\\S*_gps","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":180,"wires":[["c052c4c4.98b6c8"]]},{"id":"c99829e5.b82018","type":"api-current-state","z":"ba9e3430.cde158","name":"Current","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tarald_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1280,"y":200,"wires":[["56f5a0fb.f110c"]],"info":"Fetch existing state of the Binary-sensor"},{"id":"f2f8a8c0.8991d8","type":"change","z":"ba9e3430.cde158","name":"Identify person","rules":[{"t":"set","p":"update.tracker","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.tracker","pt":"msg","from":"device_tracker.","fromt":"re","to":"","tot":"str"},{"t":"change","p":"update.tracker","pt":"msg","from":"_gps","fromt":"str","to":"_bayesian","tot":"str"},{"t":"set","p":"update.person","pt":"msg","to":"update.tracker","tot":"msg"},{"t":"change","p":"update.person","pt":"msg","from":"_bayesian","fromt":"str","to":"","tot":"str"},{"t":"set","p":"update.presence","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.presence","pt":"msg","from":"device_tracker.","fromt":"str","to":"binary_sensor.","tot":"str"},{"t":"change","p":"update.presence","pt":"msg","from":"_gps","fromt":"str","to":"_presence","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":500,"wires":[["396ec43f.8a822c"]]},{"id":"c5b14b0c.cfe8b8","type":"api-call-service","z":"c2f3802b.1d6d4","name":"Update presence state","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"{{update.tracker}}\",\"location_name\":\"{{update.set_state}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":320,"wires":[["4e734971.26ab38","67654242.e6a52c"]]},{"id":"917c07d2.f280a8","type":"server-state-changed","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.button_bedroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":300,"y":920,"wires":[["d169d775.5bab58"]]},{"id":"fa836ffe.63412","type":"comment","z":"d8584667.838bf8","name":"Bedroom Button","info":"","x":197,"y":882,"wires":[]},{"id":"d169d775.5bab58","type":"api-current-state","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.phone_charging","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":836,"wires":[["389a757a.3dfc8a"]]},{"id":"de5eadeb.89a29","type":"comment","z":"d8584667.838bf8","name":"Appends messages","info":"","x":1201,"y":779,"wires":[]},{"id":"19c7ae2e.c7de82","type":"api-current-state","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.kaylas_phone_charging","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":668,"y":1026,"wires":[["520f84c8.3f52ec"]]},{"id":"7526c566.0a240c","type":"api-current-state","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"lock.lock","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":601,"y":1143,"wires":[["52e483fe.51540c"]]},{"id":"3c6efaa1.e2e006","type":"api-call-service","z":"d8584667.838bf8","name":"lock door","server":"1d372449.c13a3c","version":"1","debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.lock_door","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":966,"y":1260,"wires":[[]]},{"id":"cc8b9d0b.ba812","type":"api-current-state","z":"d8584667.838bf8","name":"","server":"1d372449.c13a3c","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.watch_charging","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":921,"wires":[["95d5864.a881878"]]},{"id":"43263768.432ad8","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PCN","output":"str","x":954,"y":851,"wires":[["843ea2cd.fd01d"]]},{"id":"1f2b2f21.ee59e1","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"WCN","output":"str","x":952,"y":960,"wires":[["843ea2cd.fd01d"]]},{"id":"75772853.7ec4f8","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"KPCN","output":"str","x":954,"y":1068,"wires":[["843ea2cd.fd01d"]]},{"id":"97895bfc.134a18","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FDU","output":"str","x":952,"y":1178,"wires":[["843ea2cd.fd01d"]]},{"id":"843ea2cd.fd01d","type":"join","z":"d8584667.838bf8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"|","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1164.5,"y":814,"wires":[["1fde28.503df1d9","49da444d.2731ac"]]},{"id":"1fde28.503df1d9","type":"debug","z":"d8584667.838bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":938,"wires":[]},{"id":"389a757a.3dfc8a","type":"switch","z":"d8584667.838bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":395.5,"y":972,"wires":[["8644d9ba.a60c68","cc8b9d0b.ba812"],["43263768.432ad8","cc8b9d0b.ba812"]]},{"id":"95d5864.a881878","type":"switch","z":"d8584667.838bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":407,"y":1042,"wires":[["7775062c.3267b8","19c7ae2e.c7de82"],["1f2b2f21.ee59e1","19c7ae2e.c7de82"]]},{"id":"520f84c8.3f52ec","type":"switch","z":"d8584667.838bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":392,"y":1140,"wires":[["4d772a23.a5c764","7526c566.0a240c"],["97895bfc.134a18","75772853.7ec4f8","7526c566.0a240c"]]},{"id":"8644d9ba.a60c68","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PCY","output":"str","x":955,"y":815,"wires":[["843ea2cd.fd01d"]]},{"id":"49da444d.2731ac","type":"switch","z":"d8584667.838bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PCY|WCY|KPCY|FDL","vt":"str"},{"t":"eq","v":"PCN|WCY|KPCY|FDU","vt":"str"},{"t":"eq","v":"PCN|WCY|KPCY|FDL","vt":"str"},{"t":"eq","v":"PCN|WCY|KPCN|FDL","vt":"str"},{"t":"eq","v":"PCN|WCN|KPCY|FDL","vt":"str"},{"t":"eq","v":"PCN|WCN|KPCN|FDL","vt":"str"},{"t":"eq","v":"PCN|WCN|KPCY|FDU","vt":"str"},{"t":"eq","v":"PCN|WCN|KPCY|FDU","vt":"str"},{"t":"eq","v":"PCY|WCN|KPCY|FDL","vt":"str"},{"t":"eq","v":"PCY|WCY|KPCY|FDU","vt":"str"},{"t":"eq","v":"PCY|WCY|KPCN|FDL","vt":"str"},{"t":"eq","v":"PCY|WCY|KPCN|FDU","vt":"str"},{"t":"eq","v":"PCY|WCN|KPCN|FDU","vt":"str"},{"t":"eq","v":"PCN|WCNK|PCN|FDU","vt":"str"},{"t":"eq","v":"PCN|WCY|KPCY|FDU","vt":"str"},{"t":"eq","v":"PCY|WCNK|PCY|FDU","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":1355.5,"y":912,"wires":[["2b7b9d59.691b62","99988454.e1e328"],["7e0615f1.82376c"],["6e299f4b.3dd15"],["91d12792.4ef508"],["8190e4ec.c17778"],["6861bf10.4904e"],["40defdc.f573c04"],["48edd049.ba7f8"],["91c569ba.b91b28"],["f915ae40.81e05"],["53d5f65.80c9d08"],["7c2a4f1b.b2fae"],["2c041fe5.50a67"],["353f9d8.6c1e162"],["d02a6a9e.2805b8"],["f72f3bc5.f19638"]]},{"id":"2b7b9d59.691b62","type":"debug","z":"d8584667.838bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1632,"y":663,"wires":[]},{"id":"7775062c.3267b8","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"WCY","output":"str","x":954,"y":923,"wires":[["843ea2cd.fd01d"]]},{"id":"4d772a23.a5c764","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"KPCY","output":"str","x":953,"y":1032,"wires":[["843ea2cd.fd01d"]]},{"id":"e141e3b6.a6637","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FDL","output":"str","x":952,"y":1143,"wires":[["843ea2cd.fd01d"]]},{"id":"52e483fe.51540c","type":"switch","z":"d8584667.838bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"locked","vt":"str"},{"t":"eq","v":"unlocked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":795.5,"y":1141,"wires":[["e141e3b6.a6637"],["3c6efaa1.e2e006","97895bfc.134a18"]]},{"id":"99988454.e1e328","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight Brett","output":"str","x":1627.5,"y":736,"wires":[[]]},{"id":"6e299f4b.3dd15","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight Brett, don't forget to charge your watch","output":"str","x":1627.5,"y":898,"wires":[[]]},{"id":"8190e4ec.c17778","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your phone. Remind Kayla to charge hers too.","output":"str","x":1625.5,"y":1063,"wires":[[]]},{"id":"6861bf10.4904e","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your phone and watch. Remind Kayla to charge hers too.","output":"str","x":1627,"y":1135,"wires":[[]]},{"id":"40defdc.f573c04","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your phone and watch. The front door is now locked.","output":"str","x":1627,"y":1209,"wires":[[]]},{"id":"48edd049.ba7f8","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight Brett, don't forget to charge your phone and your watch","output":"str","x":1631,"y":1287,"wires":[[]]},{"id":"91c569ba.b91b28","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your watch.","output":"str","x":1635,"y":1368,"wires":[[]]},{"id":"f915ae40.81e05","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. The front door is now locked.","output":"str","x":1638,"y":1448,"wires":[[]]},{"id":"7f93e62f.069718","type":"comment","z":"d8584667.838bf8","name":"1. Goodnight.","info":"","x":1645,"y":702,"wires":[]},{"id":"7e0615f1.82376c","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight Brett","output":"str","x":1626.5,"y":817,"wires":[[]]},{"id":"24f3b84b.a7a2c8","type":"comment","z":"d8584667.838bf8","name":"2. Goodnight. Dont forget to charge your phone.","info":"Goodnight. Dont forget to charge your phone.","x":1744,"y":782,"wires":[]},{"id":"7dd2d04e.d0ce3","type":"comment","z":"d8584667.838bf8","name":"3. Goodnight. Dont forget to charge your phone. The front door is now locked.","info":"Goodnight. Dont forget to charge your phone. The front door is now locked.","x":1847,"y":863,"wires":[]},{"id":"91d12792.4ef508","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your phone. Remind Kayla to charge hers too.","output":"str","x":1625.5,"y":981,"wires":[[]]},{"id":"e52fe812.73a3e8","type":"comment","z":"d8584667.838bf8","name":"4. Goodnight. Dont forget to charge your phone. Remind Kayla to charge hers too.","info":"","x":1855,"y":946,"wires":[]},{"id":"df457357.97c7b","type":"comment","z":"d8584667.838bf8","name":"5. Goodnight. Dont forget to charge your phone. Remind Kayla to charge hers too.","info":"","x":1854,"y":1030,"wires":[]},{"id":"662916b9.20f8d8","type":"comment","z":"d8584667.838bf8","name":"6. Goodnight. Dont forget to charge your phone and watch. Remind Kayla to charge hers too.","info":"","x":1886,"y":1100,"wires":[]},{"id":"48ec5de3.b7dce4","type":"comment","z":"d8584667.838bf8","name":"7. Goodnight. Dont forget to charge your phone and watch. The front door is now locked.","info":"","x":1876,"y":1173,"wires":[]},{"id":"a90f290f.ebdb18","type":"comment","z":"d8584667.838bf8","name":"8. Goodnight. Dont forget to charge your watch. The front door is now locked.","info":"Goodnight. Dont forget to charge your watch. The front door is now locked.","x":1849,"y":1251,"wires":[]},{"id":"43fefd44.f7f3e4","type":"comment","z":"d8584667.838bf8","name":"9. Goodnight. Dont forget to charge your watch.","info":"Goodnight. Dont forget to charge your watch.","x":1750,"y":1333,"wires":[]},{"id":"f480fa3c.ee3538","type":"comment","z":"d8584667.838bf8","name":"10. Goodnight. The front door is now locked.","info":"Goodnight. The front door is now locked.","x":1743,"y":1413,"wires":[]},{"id":"53d5f65.80c9d08","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Remind Kayla to charge her phone.","output":"str","x":1640,"y":1524,"wires":[[]]},{"id":"7c2a4f1b.b2fae","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Remind Kayla to charge her phone. The front door is now locked.","output":"str","x":1640,"y":1607,"wires":[[]]},{"id":"1ada0ec8.7f6a41","type":"comment","z":"d8584667.838bf8","name":"11. Goodnight. Remind Kayla to charge her phone.","info":"Goodnight. Remind Kayla to charge her phone.","x":1766,"y":1490,"wires":[]},{"id":"c4e02b44.5bd398","type":"comment","z":"d8584667.838bf8","name":"12. Goodnight. Remind Kayla to charge her phone. The front door is now locked.","info":"Goodnight. Remind Kayla to charge her phone. The front door is now locked","x":1858,"y":1571,"wires":[]},{"id":"2c041fe5.50a67","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your watch. Remind Kayla to charge her phone. The front door is now locked.","output":"str","x":1646,"y":1697,"wires":[[]]},{"id":"353f9d8.6c1e162","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your phone and your watch. Remind Kayla to charge hers too. The front door is now locked.","output":"str","x":1645,"y":1778,"wires":[[]]},{"id":"5b2704e9.86c3dc","type":"comment","z":"d8584667.838bf8","name":"13. Goodnight. Dont forget to charge your watch. Remind Kayla to charge her phone. The front door is now locked.","info":"Goodnight. Dont forget to charge your watch. Remind Kayla to charge her phone. The front door is now locked.","x":1970,"y":1662,"wires":[]},{"id":"c5f1393b.45df18","type":"comment","z":"d8584667.838bf8","name":"14. Goodnight. Dont forget to charge your phone and your watch. Remind Kayla to charge hers too. The front door is now locked.","info":"Goodnight. Dont forget to charge your phone and your watch. Remind Kayla to charge hers too. The front door is now locked.","x":2022,"y":1743,"wires":[]},{"id":"d02a6a9e.2805b8","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your phone. The front door is now locked.","output":"str","x":1649,"y":1858,"wires":[[]]},{"id":"f72f3bc5.f19638","type":"template","z":"d8584667.838bf8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Goodnight. Dont forget to charge your watch. The door is now locked.","output":"str","x":1647,"y":1937,"wires":[[]]},{"id":"50dae6f0.6e6d28","type":"comment","z":"d8584667.838bf8","name":"15. Goodnight. Dont forget to charge your phone. The front door is now locked.","info":"Goodnight. Dont forget to charge your phone. The front door is now locked.","x":1863,"y":1823,"wires":[]},{"id":"66aba583.55aadc","type":"comment","z":"d8584667.838bf8","name":"16. Goodnight. Dont forget to charge your watch. The door is now locked.","info":"Goodnight. Dont forget to charge your watch. The door is now locked.","x":1841,"y":1901,"wires":[]},{"id":"6f8df0b4.89c4","type":"comment","z":"d8584667.838bf8","name":"Phone Charging Yes/No","info":"","x":991,"y":780,"wires":[]},{"id":"33f90276.8aae8e","type":"comment","z":"d8584667.838bf8","name":"Watch Charging Yes/No","info":"","x":992,"y":887,"wires":[]},{"id":"805b7bb8.def318","type":"comment","z":"d8584667.838bf8","name":"Kayla's Phone Charging Yes/No","info":"","x":1022,"y":995,"wires":[]},{"id":"c8ed34f6.d53c58","type":"comment","z":"d8584667.838bf8","name":"Front Door Locked/Unlocked","info":"","x":1012,"y":1105,"wires":[]},{"id":"acb7b7c8.570218","type":"comment","z":"d8584667.838bf8","name":"Lock Door if Unlocked","info":"","x":1001,"y":1222,"wires":[]},{"id":"8b6841de.da798","type":"comment","z":"d8584667.838bf8","name":"string of the 4 devices' status","info":"","x":1429,"y":770,"wires":[]},{"id":"c052c4c4.98b6c8","type":"change","z":"c2f3802b.1d6d4","name":"Formatter","rules":[{"t":"set","p":"update.tracker","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.tracker","pt":"msg","from":"device_tracker.","fromt":"re","to":"","tot":"str"},{"t":"change","p":"update.tracker","pt":"msg","from":"_gps","fromt":"str","to":"_bayesian","tot":"str"},{"t":"set","p":"update.person","pt":"msg","to":"update.tracker","tot":"msg"},{"t":"change","p":"update.person","pt":"msg","from":"_bayesian","fromt":"str","to":"","tot":"str"},{"t":"set","p":"update.presence","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.presence","pt":"msg","from":"device_tracker.","fromt":"str","to":"binary_sensor.","tot":"str"},{"t":"change","p":"update.presence","pt":"msg","from":"_gps","fromt":"str","to":"_presence","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"GPS Update (set_state)","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"set_state","fromt":"str","to":"update.set_state","tot":"msg"},{"t":"set","p":"update.gps.latitude","pt":"msg","to":"data.new_state.attributes.latitude","tot":"msg"},{"t":"set","p":"update.gps.longitude","pt":"msg","to":"data.new_state.attributes.longitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":180,"wires":[["ec466b22.2d1d38"]]},{"id":"be97325c.474ca","type":"change","z":"c2f3802b.1d6d4","name":"Formatter","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"home","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"not_home","tot":"str"},{"t":"set","p":"update.set_state","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"update.tracker","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"update.tracker","pt":"msg","from":"binary_sensor.","fromt":"re","to":"","tot":"str"},{"t":"change","p":"update.tracker","pt":"msg","from":"_presence","fromt":"str","to":"_bayesian","tot":"str"},{"t":"set","p":"update.person","pt":"msg","to":"update.tracker","tot":"msg"},{"t":"change","p":"update.person","pt":"msg","from":"_bayesian","fromt":"str","to":"","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Presence Update (set_state)","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"set_state","fromt":"str","to":"update.set_state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":320,"wires":[["c5b14b0c.cfe8b8","a8a71a03.f4a1f8"]]},{"id":"b6146514.4b9d28","type":"debug","z":"c2f3802b.1d6d4","name":"Presence Report","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"topic & \" - \" & update.person","statusType":"jsonata","x":1070,"y":340,"wires":[]},{"id":"92164088.071d9","type":"template","z":"c2f3802b.1d6d4","name":"Report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Performed {{topic}} for {{update.person}}. No drama.","output":"str","x":790,"y":340,"wires":[["684a34ba.8a101c"]]},{"id":"59ff69bf.f81508","type":"debug","z":"c2f3802b.1d6d4","name":"GPS Report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":180,"wires":[]},{"id":"65aa379d.e00368","type":"template","z":"c2f3802b.1d6d4","name":"Report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Updating GPS position for {{update.person}} to {{update.existing_state}} - {{update.gps.latitude}},{{update.gps.longitude}}.","output":"str","x":930,"y":180,"wires":[["59ff69bf.f81508"]]},{"id":"28d52b61.72d8f4","type":"template","z":"ba9e3430.cde158","name":"Report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Performed {{topic}} ({{update.set_state}}) with position {{update.gps.latitude}},{{update.gps.longitude}} for {{update.person}}","output":"str","x":1790,"y":160,"wires":[[]]},{"id":"6c682b7.22b7bd4","type":"delay","z":"af92df58.18c99","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":420,"wires":[["ce3896ae.43a118"]]},{"id":"fefd5db0.612e3","type":"delay","z":"af92df58.18c99","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":580,"wires":[["7ea1cfb.246513"]]},{"id":"a69497cb.5e9308","type":"delay","z":"af92df58.18c99","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":740,"wires":[["12cff306.49c99d"]]},{"id":"ddbceb0b.cc5de8","type":"delay","z":"af92df58.18c99","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":900,"wires":[["c8ead6f1.836558"]]},{"id":"5bd4da42.9d6164","type":"delay","z":"af92df58.18c99","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":260,"wires":[["4e6030ba.84fb4"]]},{"id":"d1a7a2bb.3df36","type":"inject","z":"c2f3802b.1d6d4","name":"Message","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Custom message","payload":"Hi ladies, you smell lovely tomight","payloadType":"str","x":320,"y":560,"wires":[["a820f17.4b1f51"]]},{"id":"a79c83bc.8d24","type":"subflow:f38d805.6aaa08","z":"c2f3802b.1d6d4","name":"","env":[],"x":800,"y":760,"wires":[]},{"id":"4e734971.26ab38","type":"switch","z":"c2f3802b.1d6d4","name":"Action","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"neq","v":"data.new_state.state","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":320,"wires":[["676d10ad.706c5","290d562b.1ed3fa"],["92164088.071d9"]]},{"id":"d4b5b4d8.dd3428","type":"comment","z":"c2f3802b.1d6d4","name":"GPS Updates","info":"","x":110,"y":140,"wires":[]},{"id":"b75d4af0.598988","type":"comment","z":"c2f3802b.1d6d4","name":"Test Message","info":"","x":110,"y":520,"wires":[]},{"id":"50ea9e2e.f480e","type":"api-call-service","z":"c2f3802b.1d6d4","name":"Update GPS loaction","server":"1d372449.c13a3c","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"{{update.tracker}}\",\"location_name\":\"{{update.existing_state}}\",\"gps\":[{{update.gps.latitude}},{{update.gps.longitude}}]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":180,"wires":[["65aa379d.e00368"]]},{"id":"ec466b22.2d1d38","type":"api-current-state","z":"c2f3802b.1d6d4","name":"Current","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{update.presence}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":180,"wires":[["270ebc53.0afc04"]],"info":"Fetch existing state of the Binary-sensor"},{"id":"270ebc53.0afc04","type":"change","z":"c2f3802b.1d6d4","name":"Set state","rules":[{"t":"set","p":"update.existing_state","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"update.existing_state","pt":"msg","from":"on","fromt":"str","to":"home","tot":"str"},{"t":"change","p":"update.existing_state","pt":"msg","from":"off","fromt":"str","to":"not_home","tot":"str"},{"t":"set","p":"update.notify","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":180,"wires":[["50ea9e2e.f480e"]]},{"id":"676d10ad.706c5","type":"template","z":"c2f3802b.1d6d4","name":"Notify","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{update.person}} is now {{update.set_state}}","output":"str","x":790,"y":300,"wires":[["b6146514.4b9d28"]]},{"id":"92c165f6.18b668","type":"subflow:f38d805.6aaa08","z":"c2f3802b.1d6d4","name":"","env":[],"x":1100,"y":240,"wires":[]},{"id":"d0f6e6a1.068f98","type":"debug","z":"c2f3802b.1d6d4","name":"Voice Report","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"update.person","statusType":"jsonata","x":1090,"y":280,"wires":[]},{"id":"a8a71a03.f4a1f8","type":"debug","z":"c2f3802b.1d6d4","name":"Input message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":380,"wires":[]},{"id":"67654242.e6a52c","type":"debug","z":"c2f3802b.1d6d4","name":"Output message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"290d562b.1ed3fa","type":"switch","z":"c2f3802b.1d6d4","name":"","property":"data.new_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":260,"wires":[["5a0cb6fa.e09bf8"]]},{"id":"684a34ba.8a101c","type":"debug","z":"c2f3802b.1d6d4","name":"Presence Report","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"topic & \" - \" & update.person","statusType":"jsonata","x":1070,"y":400,"wires":[]},{"id":"15de7287.0510ad","type":"server-events","z":"c2f3802b.1d6d4","name":"OP Status","server":"1d372449.c13a3c","event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":100,"y":80,"wires":[["82f24b87.2e1fe8"]]},{"id":"82f24b87.2e1fe8","type":"switch","z":"c2f3802b.1d6d4","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":80,"wires":[["fc6a704c.4f6a4"]]},{"id":"f62828c2.128cb8","type":"debug","z":"c2f3802b.1d6d4","name":"Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"4f7cb453.0943ac","type":"comment","z":"c2f3802b.1d6d4","name":"Update trackers on HA Restart","info":"","x":170,"y":40,"wires":[]},{"id":"cfb83017.9da8c","type":"yaml","z":"c2f3802b.1d6d4","property":"payload","name":"","x":550,"y":80,"wires":[["16123740.712009"]]},{"id":"fc6a704c.4f6a4","type":"file in","z":"c2f3802b.1d6d4","name":"Get greetings","filename":"/shared/greetings.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":80,"wires":[["cfb83017.9da8c"]]},{"id":"16123740.712009","type":"change","z":"c2f3802b.1d6d4","name":"Update Context","rules":[{"t":"set","p":"voice_messages","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":80,"wires":[["f62828c2.128cb8"]]},{"id":"37c0aba1.07a5d4","type":"comment","z":"c2f3802b.1d6d4","name":"Manage Greetings","info":"","x":130,"y":420,"wires":[]},{"id":"edd4c3e9.a8ee5","type":"function","z":"c2f3802b.1d6d4","name":"","func":"msg.topic = \"Greet \" + String(msg.update.person);\nmsg.payload = flow.get(\"voice_messages\")[msg.update.person];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":620,"wires":[["a820f17.4b1f51"]]},{"id":"340341da.78b92e","type":"inject","z":"c2f3802b.1d6d4","name":"Tarald","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"update.person","v":"payload","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get message","payload":"tarald","payloadType":"str","x":110,"y":560,"wires":[["edd4c3e9.a8ee5"]]},{"id":"5a0cb6fa.e09bf8","type":"function","z":"c2f3802b.1d6d4","name":"Greet","func":"msg.topic = \"Greet \" + String(msg.update.person);\nmsg.payload = flow.get(\"voice_messages\")[msg.update.person];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":260,"wires":[["92c165f6.18b668","d0f6e6a1.068f98"]]},{"id":"a820f17.4b1f51","type":"subflow:f38d805.6aaa08","z":"c2f3802b.1d6d4","name":"","env":[],"x":500,"y":620,"wires":[]},{"id":"6296181e.a23ec8","type":"inject","z":"c2f3802b.1d6d4","name":"Tiril","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"update.person","v":"payload","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get message","payload":"tiril","payloadType":"str","x":110,"y":600,"wires":[["edd4c3e9.a8ee5"]]},{"id":"f45e1f15.71dec","type":"inject","z":"c2f3802b.1d6d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":460,"wires":[["af611b12.d55a58"]]},{"id":"af611b12.d55a58","type":"file in","z":"c2f3802b.1d6d4","name":"Read from File","filename":"/shared/greetings.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":460,"wires":[["516c1f9a.60387"]]},{"id":"516c1f9a.60387","type":"yaml","z":"c2f3802b.1d6d4","property":"payload","name":"","x":430,"y":460,"wires":[["7a8d2590.95b7fc"]]},{"id":"7a8d2590.95b7fc","type":"change","z":"c2f3802b.1d6d4","name":"Update Context","rules":[{"t":"set","p":"voice_messages","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[[]]},{"id":"56f7235.9c328dc","type":"ha-get-entities","z":"c2f3802b.1d6d4","server":"1d372449.c13a3c","name":"","rules":[{"property":"entity_id","logic":"in_group","value":"group.home_sensors","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":330,"y":1180,"wires":[["d29d4695.ea6db8","e6230f2b.6dd08","4589ef73.cc764"]]},{"id":"deef05e1.e5c698","type":"inject","z":"c2f3802b.1d6d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1180,"wires":[["56f7235.9c328dc"]]},{"id":"c12672b5.0364c","type":"debug","z":"c2f3802b.1d6d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1120,"wires":[]},{"id":"d29d4695.ea6db8","type":"template","z":"c2f3802b.1d6d4","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":600,"y":1120,"wires":[["83da0cd5.263eb"]]},{"id":"83da0cd5.263eb","type":"join","z":"c2f3802b.1d6d4","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":1120,"wires":[["c12672b5.0364c"]]},{"id":"52e6c0cd.eee5","type":"debug","z":"c2f3802b.1d6d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1200,"wires":[]},{"id":"e6230f2b.6dd08","type":"join","z":"c2f3802b.1d6d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.entity_id","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":1200,"wires":[["52e6c0cd.eee5"]]},{"id":"4589ef73.cc764","type":"debug","z":"c2f3802b.1d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":1280,"wires":[]},{"id":"920fbf47.1b7a7","type":"inject","z":"c2f3802b.1d6d4","name":"Bob Home","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"data","v":"{\"entity_id\":\"binary_sensor.bob_presence\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","vt":"json"},{"p":"update","v":"{\"set_state\":\"home\",\"tracker\":\"bob_bayesian\",\"person\":\"bob\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Bob Home","payload":"home","payloadType":"str","x":900,"y":880,"wires":[["774d37db.a16478"]]},{"id":"774d37db.a16478","type":"debug","z":"c2f3802b.1d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":880,"wires":[]},{"id":"4e6bfb54.393ed4","type":"inject","z":"c2f3802b.1d6d4","name":"Bob Away","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Bob Away","payload":"{\"person\":\"bob\",\"data\":{\"dev_id\":\"bob_bayesian\",\"state\":\"not_home\"}}","payloadType":"json","x":900,"y":920,"wires":[["774d37db.a16478"]]},{"id":"c94ca237.4d078","type":"inject","z":"c2f3802b.1d6d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":1040,"wires":[["b0f73f8b.cae39"]]},{"id":"b0f73f8b.cae39","type":"ha-api","z":"c2f3802b.1d6d4","name":"Update Tarald","server":"1d372449.c13a3c","debugenabled":false,"protocol":"http","method":"post","path":"states/binary_sensor.tarald_presence","data":"{    \"state\": \"{{payload}}\"}","dataType":"json","location":"payload","locationType":"msg","responseType":"json","x":260,"y":1060,"wires":[["9fa08cdc.d254b"]]},{"id":"aeb05b3e.fd3d88","type":"server-state-changed","z":"c2f3802b.1d6d4","name":"Binary","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tarald_presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":370,"y":940,"wires":[[]]},{"id":"490af092.4e6c3","type":"server-state-changed","z":"c2f3802b.1d6d4","name":"GPS","server":"1d372449.c13a3c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.tarald_gps","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":370,"y":1000,"wires":[[]]},{"id":"6ed95313.583d8c","type":"api-current-state","z":"c2f3802b.1d6d4","name":"Binary","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tarald_presence","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":940,"wires":[["ffd5f1d5.b1298"]]},{"id":"79d736bc.8f3658","type":"api-current-state","z":"c2f3802b.1d6d4","name":"GPS","server":"1d372449.c13a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.tarald_gps","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":1000,"wires":[[]]},{"id":"9f1ad55f.bccb48","type":"comment","z":"c2f3802b.1d6d4","name":"Tarald","info":"","x":90,"y":900,"wires":[]},{"id":"bc167bcf.594c38","type":"comment","z":"c2f3802b.1d6d4","name":"Bob","info":"","x":850,"y":840,"wires":[]},{"id":"5971e401.06df0c","type":"inject","z":"c2f3802b.1d6d4","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":940,"wires":[["6ed95313.583d8c"]]},{"id":"a829f9c5.e3ee48","type":"inject","z":"c2f3802b.1d6d4","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1000,"wires":[["79d736bc.8f3658"]]},{"id":"7b4b2957.aa8758","type":"inject","z":"c2f3802b.1d6d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":1080,"wires":[["b0f73f8b.cae39"]]},{"id":"9fa08cdc.d254b","type":"debug","z":"c2f3802b.1d6d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":1060,"wires":[]},{"id":"2e8db4ef.8cac0c","type":"ha-entity","z":"c2f3802b.1d6d4","name":"","server":"1d372449.c13a3c","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"bob_presence"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":990,"y":1040,"wires":[["ff2a7dcc.c8a4d"]]},{"id":"ebb50953.3070e8","type":"inject","z":"c2f3802b.1d6d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":890,"y":980,"wires":[["2e8db4ef.8cac0c"]]},{"id":"ff2a7dcc.c8a4d","type":"debug","z":"c2f3802b.1d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1040,"wires":[]},{"id":"ffd5f1d5.b1298","type":"json","z":"c2f3802b.1d6d4","name":"","property":"data","action":"","pretty":false,"x":350,"y":900,"wires":[["5677c1dd.a7de"]]},{"id":"5677c1dd.a7de","type":"file","z":"c2f3802b.1d6d4","name":"","filename":"/shared/test","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":900,"wires":[["2eea7e48.28e4b2"]]},{"id":"3213509.b2413b","type":"inject","z":"c2f3802b.1d6d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":860,"wires":[["d69981c1.1287a"]]},{"id":"d69981c1.1287a","type":"file in","z":"c2f3802b.1d6d4","name":"","filename":"/shared/test","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":440,"y":860,"wires":[["2eea7e48.28e4b2"]]},{"id":"2eea7e48.28e4b2","type":"debug","z":"c2f3802b.1d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":860,"wires":[]},{"id":"d62ae1f8.5815b","type":"inject","z":"c2f3802b.1d6d4","name":"Tuva","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"update.person","v":"payload","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get message","payload":"tuva","payloadType":"str","x":110,"y":640,"wires":[["edd4c3e9.a8ee5"]]},{"id":"df18e57b.2653a8","type":"inject","z":"c2f3802b.1d6d4","name":"Trym","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"update.person","v":"payload","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get message","payload":"trym","payloadType":"str","x":110,"y":680,"wires":[["edd4c3e9.a8ee5"]]},{"id":"634e731e.7c4e9c","type":"inject","z":"c2f3802b.1d6d4","name":"Jeanette","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"update.person","v":"payload","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get message","payload":"jeanette","payloadType":"str","x":120,"y":720,"wires":[["edd4c3e9.a8ee5"]]}]